<% if defined?(message) %>
		<noscript>Your account has been deleted<a href="/">Back to Welcoming page</a></noscript>
		<script>alert("<%= message %>");
		location = '/';
		</script>
<% end %>

<% if defined?(fuck) %>
		<noscript>Wrong password, try again!</noscript>
		<script>alert("<%= fuck %>");
		location = '/deleteaccount';
		</script>
<% end %>


If you really want to delete your account <%= "#{nickname}" %>, please type your password and press delete!<br><br><form method = "post" action ="deleteaccount">
	<input name="password" type="password" placeholder="Password" required maxlength="12"></input><br>
	<button>Delete!</button>
	</form>