<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html>
    <head>
      <title>Phonebook by NicoSa</title>
      <link rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4">
      <link rel="stylesheet" href="styles.css">
    </head>
    <body>
      <%= yield %>
    </body>
  </html>