<br><br><a href="new">New Entry</a><br><br><form method = "post" action ="search">
	<input name="tosearch" type="text" placeholder="Search"></input>
	<button>Go search!</button>
	<br><br><a href="/logout">Logout</a><br><br><a href='/deleteaccount'>Delete Account</a></form>