<center>
    <% if defined?(notfound) %>
        <script>alert("<%= notfound %>");</script>
    <% end %>
    <% if defined?(wrongpassword) %>
        <script>alert("<%= wrongpassword %>");</script>
    <% end %>
    <h1>Login</h1>
    <form method = "post" action ="login">
	    <input name="nickname" type="text" placeholder="Nickname" required maxlength="12"></input><br>
	    <input name="password" type="password" placeholder="Password" required maxlength="12"></input><br>
	    <button>Login!</button>
	</form>
	<br><a href='/'>Back</a>
</center>

 