<% if defined?(allfilledin) %>
		<script>alert("<%= allfilledin %>");
		location = "/list";
		</script>
		<noscript>Entry was made!<a href="/list">Return to phonebook</a></noscript>
<% end %>
<% if defined?(fillinall) %>
        <script>alert("<%= fillinall %>");
        location = "/new";
        </script>
        <noscript>Please fill in all required fields</noscript>
<% end %>
<% if defined?(wrongformat) %>
        <script>alert("<%= wrongformat %>");
        location = "/new";
        </script>
        <noscript>Please enter digits for phone number and letters for your name!</noscript>
<% end %>

<form method="post" action="new">
		<input name="vorname" type="text" placeholder="First name" required pattern="[A-Za-z\s]+"></input><br>
		<input name="nachname" type="text" placeholder="Last name" required pattern="[A-Za-z\s]+"></input><br>
		<input name="nummer"  type="text" placeholder="Phone number" pattern="[0-9]+" required></input>
		<button>Save</button>
	</form>

