<h1>Signup</h1><form method = "post" action ="signup">
	<input name="nickname" type="text" placeholder="Nickname" required maxlength="12"></input><br>
	<input name="password" type="password" placeholder="Password" required maxlength="12"></input><br>
	<input name="favfood" type="text" placeholder="Favorite Food" required maxlength="30"></input><br>
	<input name="favseries" type="text" placeholder="Favorite Series" required maxlength="30"></input><br>
	<button>Sign up!</button>
	</form><br><a href='/'>Back</a>