body
{
background-color:#EEEEEE;
text-align: center;
}

h1
{
	font-family:"Verdana", Verdana, sans-serif;
}

a
{
	font-family:"Verdana", Verdana, sans-serif;
	font-color: white;
	background-color: #6EBBF5;
}